<div class="container">
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <div class="flex-outer">
      <label for="username">Your Name</label>
      <input class="form-control" name="username" id="username" type="text" formControlName="username">
      <p class="text-class"  [@fadeToggle]=currentState >Please enter you name and press enter</p>
    </div>
    <div class="flex-outer">
        <!-- [disabled]="!userForm.valid" -->
      <button type="submit" class="btn btn-primary">
        Submit
      </button>
    </div>
  </form>
</div>