.child-container{
    display: flex;
    height: 90vh;
    width: 300px;
    background-color: #aeaeae;
    border: solid;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}