<div class="main-container">

<app-action data="{{data}}" (callSayToParent)="callParentHandler($event)"></app-action>
<div class="parent-container">
    <p class="username-text">Hello {{userName}}</p>
    <p>Parent Container</p>
    <p [@crossfade]=dataState>{{parentText}}</p>
    <button id="callChild" (click)="sayChildHandler($event)">SAY HAI TO CHILD</button>
    <button (click)="fetchRSS($event)">FETCH RSS</button>
</div>
<app-action data="{{data}}" (callSayToParent)="callParentHandler($event)"></app-action>

</div>
